<div class='border col-6'>
    <h5 class='text-center'><%= @user.name %></h5>
    <p><%= @user.email %></p>
    
    <% @user.attended_events.each do |event| %>
        <div class='border col-6'>
        <h5 class='text-center'><%= event.title %></h5>
        <p><%= event.description %></p>
        <p>Location: <%= event.location %></p>
        <p>Date: <%= event.time %></p>
          
        </div>
    <% end %>
</div>