<% @events.each do |event| %>
    <div class='border col-6'>
        <h5 class='text-center'><%= event.title %></h5>
        <p><%= event.description %></p>
        <p>Location: <%= event.location %></p>
        <p>Date: <%= event.time %></p>
        <p>Created by: <%= @users.find_by_id(event.user_id).name %></p>
    </div>
<% end %>    