
<% @events.each do |event| %>
    <div class='border col-6'>
        <h5 class='text-center'><%= event.title %></h5>
        <p><%= event.description %></p>
        <p>Location: <%= event.location %></p>
        <p>Date: <%= event.time %></p>
        <p>Created by: <%= created_by(event).name %></p>
        <p>Assitents: <%= event.event_attendees.count() %></p>
        <button type="button" class="btn btn-info"><a class="nav-link text-dark" href="/events/<%= event.id %>">Event info</a></button>
        
        
    </div>
<% end %>    