<div class='col-9 mx-auto border'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>
  <p>
    <strong>Created by:  </strong>
    <%= created_by(@event) %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= @event.location %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @event.time %>
  </p>
  <button type="button" class="btn btn-success">
    <%= link_to "Attend event", invitations_path(:event_attendee_id => @user, :attended_event_id => @event), method: :post, class: "btn color-2 text-black" %>
  </button>

  <% @event.event_attendees.each do |aten| %>
    <div class='border col-6'>
        <p class='text-center'><strong><%= aten.name %></strong></p>
        <p><%= aten.email %></p>
      
    </div>
  <% end %>


  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>